<div>
  <!-- Breadcrumb Start -->
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-title-md2 font-bold text-black dark:text-white">
      Labels
    </h2>

    <nav>
      <ol class="flex items-center gap-2">
        <li>
          <a class="cursor-pointer font-medium" @click.prevent="$store.main.routeTo('', $router)">Dashboard /</a>
        </li>
        <li class="font-medium text-primary">Labels</li>
      </ol>
    </nav>
  </div>
  <!-- Breadcrumb End -->

  <!-- <div
    class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
    <div class="max-w-full overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
          <tr class="bg-gray-2 text-left dark:bg-meta-4">
            <th class="min-w-[220px] px-4 py-4 font-medium text-black dark:text-white xl:pl-11">
              Name
            </th>
            <th class="min-w-[150px] px-4 py-4 font-medium text-black dark:text-white">
              Kind
            </th>
            <th class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white">
              Topics
            </th>
            <th class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white hidden xl:table-cell">
              Label policy
            </th>
            <th class="min-w-[120px] px-4 py-4 font-medium text-black dark:text-white hidden 2xl:table-cell">
              Labels
            </th>
            <th class="px-4 py-4 font-medium text-black dark:text-white hidden 2xl:table-cell">
              Created at
            </th>
          </tr>
        </thead>
        <tbody>
          <template x-for="(egress, index) in $store.main.list">
            <tr>
              <td class="border-b border-[#eee] px-4 py-5 pl-9 dark:border-strokedark xl:pl-11">
                <p class="text-black dark:text-white text-sm" x-text="egress.id"></p>
              </td>
              <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                <p class="text-black dark:text-white text-sm" x-text="egress.kind"></p>
              </td>
              <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark">
                <template x-for="(topic, index) in egress.topics">
                  <p class="text-black dark:text-white text-sm" x-text="topic"></p>
                </template>
              </td>
              <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark hidden xl:table-cell">
                <p class="text-black dark:text-white" x-text="egress.labelPolicy"></p>
              </td>
              <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark hidden 2xl:table-cell">
                <template x-if="egress.labels?.length === 0">
                  <p class="text-black dark:text-white text-sm">-</p>
                </template>
                <template x-if="egress.labels?.length > 0" x-for="(label, index) in egress.labels">
                  <p class="text-black dark:text-white text-sm" x-text="label"></p>
                </template>
              </td>
              <td class="border-b border-[#eee] px-4 py-5 dark:border-strokedark hidden 2xl:table-cell">
                <p class="text-black dark:text-white text-sm" x-text="egress.createAt"></p>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div> -->
</div>